.setColLogo {
  color: white;
  font-weight: lighter;
}
.setColLogo img {
  height: 60px !important;
  object-fit: contain;
}
.setimgLogo {
  width: 100%;
  height: 40px;
  /* top: 18px; */
}
.bg-Nav-Set {
  background-color: #1e1e1e;
}
.Menu {
  display: none;
  color: white;
  font-size: 2rem;
}

.setListNav {
  color: white;
  list-style: none;
  /* background-color: blue; */
  /* justify-content: flex-end; */
}
.Link {
  text-decoration: none;
  position: relative;
  color: white;
}
.Link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: rgb(173, 77, 39);
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.5s ease-out;
}
.Link {
  list-style: none !important;
}

.Link:hover::after {
  text-decoration: underline;
  transform: scaleX(1);
  transform-origin: bottom left;
}
@media (max-width: 995px) {
  .Menu {
    display: block;
    color: white;
  }

  .SetSmallScreenUl ul li a {
    display: none;
    /* list-style: none; */
  }
  .SetNAVBARForSmall {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }
}
@media (max-width: 980px) {
  .bg-Nav-Set {
    height: auto;
  }
}
